---
import { Mail, Phone, Instagram, Linkedin } from "lucide-react";
interface Props {
  theme?: "dark" | "light";
  paddingX?: boolean;
}
const { theme = "dark", paddingX = false } = Astro.props;
---

<footer
  class={`mt-auto border-t pt-10 pb-12 text-sm ${paddingX ? "px-8" : ""} ${
    theme === "dark"
      ? "border-zinc-800/50 text-zinc-400"
      : "border-zinc-200 text-zinc-500"
  }`}
>
  <div
    class="max-w-5xl mx-auto px-8 sm:px-0 w-full flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <div class="flex flex-col items-center md:items-start gap-1">
      <span
        class={`font-bold tracking-tight text-base mb-2 ${
          theme === "dark" ? "text-white" : "text-zinc-900"
        }`}>João Moreira.</span
      >
      <p>&copy; {new Date().getFullYear()} Todos os direitos reservados.</p>
    </div>

    <div class="flex gap-6 items-center">
      <a
        href="mailto:joaosmoreira86@gmail.com"
        class={`transition-colors p-2 rounded-full border ${
          theme === "dark"
            ? "hover:text-white bg-zinc-900 border-zinc-800/50 hover:bg-zinc-800"
            : "hover:text-zinc-900 bg-zinc-100 border-zinc-200 hover:bg-zinc-200 text-zinc-600"
        }`}
        aria-label="Email"
      >
        <Mail className="w-4 h-4" />
      </a>
      <a
        href="tel:+351963699914"
        class={`transition-colors p-2 rounded-full border ${
          theme === "dark"
            ? "hover:text-white bg-zinc-900 border-zinc-800/50 hover:bg-zinc-800"
            : "hover:text-zinc-900 bg-zinc-100 border-zinc-200 hover:bg-zinc-200 text-zinc-600"
        }`}
        aria-label="Telefone"
      >
        <Phone className="w-4 h-4" />
      </a>
      <a
        href="https://instagram.com/joaoworeira"
        target="_blank"
        rel="noopener noreferrer"
        class={`transition-colors p-2 rounded-full border ${
          theme === "dark"
            ? "hover:text-white bg-zinc-900 border-zinc-800/50 hover:bg-zinc-800"
            : "hover:text-zinc-900 bg-zinc-100 border-zinc-200 hover:bg-zinc-200 text-zinc-600"
        }`}
        aria-label="Instagram"
      >
        <Instagram className="w-4 h-4" />
      </a>
      <a
        href="https://www.linkedin.com/in/joaosmoreira/"
        target="_blank"
        rel="noopener noreferrer"
        class={`transition-colors p-2 rounded-full border ${
          theme === "dark"
            ? "hover:text-white bg-zinc-900 border-zinc-800/50 hover:bg-zinc-800"
            : "hover:text-zinc-900 bg-zinc-100 border-zinc-200 hover:bg-zinc-200 text-zinc-600"
        }`}
        aria-label="LinkedIn"
      >
        <Linkedin className="w-4 h-4" />
      </a>
    </div>
  </div>
</footer>
